---

import { services } from './services.js'
import ButtonLink from '../Button/ButtonLink.astro'
import { ButtonStyles } from '../Button/ButtonTypes'

---

<style lang="scss">
	#Services .row
	{
		margin-bottom: 40px;
	}
	
	#Services .row:last-child
	{
		margin-bottom: 0px;
	}
	
	#Services .row .col-sm-4 h3
	{
		padding: 10px 0px 10px 0px;
		font-size: 18px;
	}
	
	#Services .row .col-sm-4 .innerServiceContainer
	{
		padding: 20px;
		height: 630px;
		overflow: hidden;
	}
	
	/*
	#Services .row .col-sm-4 .innerServiceContainer:hover
	{
		background-color: #eee;
		cursor: cursor;
	}
	
	#Services .row .col-sm-4 img
	{
		border: 1px solid #eee;
		width: 300px !important;
		height: 300px !important;
		margin: 0 auto;
	} 
	
	#Services .row .col-sm-4 .btn
	{
		width: 100%;
	}
	
	#Services #ServicesIntroText
	{
		margin-bottom: 30px;
	}
  */
</style>

<div id="Services" class="container-fluid text-center pageSection">
		
  <div class="container">
        
    <h2>Services</h2>
    
    <p id="ServicesIntroText">At Making Sense Of It we offer a range of services. The following sections give some brief detail about each of these services we offer.</p>
    
    <div class="row">

      { 
        services.map((item) => (
          <div class="col-sm-4">
            <div class="innerServiceContainer">
              <a href={item.link}>
                <img src={item.image} class="img-responsive"  alt={item.imageAlt} />
              </a>
              <h3>{item.heading}</h3>
              <p>{item.text}</p>
              <ButtonLink buttonStyle={ButtonStyles.SECONDARY} destination={item.link}>Find out more...</ButtonLink>
            </div>
          </div>
        ))
      }
      
    </div>
  </div>
</div>