---

import { services } from './services.js'

---

<div id="Services" class="container-fluid text-center pageSection">
		
  <div class="container">
        
    <h2>Services</h2>
    
    <p id="ServicesIntroText">At Making Sense Of It we offer a range of services. The following sections give some brief detail about each of these services we offer.</p>
    
    <div class="row">

      { 
        services.map((item) => (
          <div class="col-sm-4">
            <div class="innerServiceContainer">
              <a href={item.link}>
                <img src={item.image} class="img-responsive"  alt={item.imageAlt} />
              </a>
              <h3>{item.heading}</h3>
              <p>{item.text}</p>
              <a href={item.link} class="btn btn-secondary">Find out more...</a>
            </div>
          </div>
        ))
      }
      
    </div>
  </div>
</div>